body{
    background-color: black;
    margin: 0;padding: 0;
    color: aliceblue;
}
.f1{
    display: flex;
    height: 5.5vh;
    background-color: black;
   vertical-align: bottom; 
}
.pic1{
    height: 5.5vh;
}
.fe1{
    padding-left: 2vw;
    line-height: 5.5vh;
}
.fe2{
    padding-left: 35vw;
    line-height: 7.5vh;
}
.f2{
    display: flex;
}
.p{
    font-size: 27px;
}
.a{ height: 1.5 vh;

}
.f2e{
    width: 16vw;
}